body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-size: 100%;
    color: #1a171b;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    height: 64px;
    border-bottom: 1px solid #dddddd;
}

.container {
    width: 90%;
    margin: 0 auto;
}

nav {
    display: block;
}

.logo {
    display: inline-block;
    width: 64px;
    height: 64px;
    line-height: 64px;
}
.logo div {
    height: 60%;
    width: 60%;
    margin: 20%;
    background-color: #bbbbbb;
    border-radius: 50%;
}

label.menu-btn {
    display: inline-block;
    position: absolute;
    right: 5%;
    height: 64px;
    width: 26px;
    cursor: pointer;
    line-height: 64px;
    -webkit-user-select: none;
    background: url("menu.svg") 50% 50% no-repeat;
    background-size: 26px;
}

input#menu-btn {
    display: none;
}

input#menu-btn:checked + nav {
    display: block;
}

nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 64px;
    left: 0px;
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff;
}

nav > ul {
    width: 95%;
    margin: 0 auto;
}

nav > ul:after {
    display: none;
}

nav > ul > li {
    display: block;
}

nav > ul > li > a {
    width: 100%;
    position: relative;
    display: block;
    line-height: 64px;
    text-decoration: none;
    text-align: left;
    font-size: 0.7em;
    letter-spacing: 0.4px;
}

header a {
    color: #1a171b;
}

nav a:hover {
    color: #999999 !important;
}

nav > ul > li > a.has-sub-menu:after {
    content: '+';
    position: absolute;
    right: 0;
    font-size: 1.4em;
}

nav > ul > li > a.has-sub-menu.opened:after {
    content: '\2013';
}

nav > ul > li > a.opened + .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: relative;
    top: 0;
    left: 0;
}

.sub-menu > li {
    display: block;
}

.sub-menu > li > a {
    display: block;
    height: 30px;
    padding: 0 20px;
    line-height: 30px;
    font-size: 0.7em;
    color: #1a171b;
    text-align: center;
}




@media only screen and (min-width: 768px) {

    nav {
        display: block;
        top: 0;
        right: 5%;
        left: auto;
        width: 76%;
        height: 64px;
        border: none;
    }

    nav > ul {
        width: auto;
        margin: 0;
        text-align: justify;
    }

    nav > ul:after {
        content: '';
        width: 100%;
        display: inline-block;
    }

    nav > ul > li {
        position: relative;
        display: inline-block;
    }

    nav > ul > li > a {
        text-align: center;
    }

    nav > ul > li > a.has-sub-menu:after {
        content: '';
    }

    nav > ul > li:hover .sub-menu {
        display: block;
    }

    .sub-menu {
        display: none;
        position: absolute;
        top: 64px;
        left: 50%;
        margin-left: -100px;
        width: 200px;
        padding: 10px 0;
        border: 1px solid #dddddd;
        background-color: #ffffff;
    }

    .sub-menu:before {
        content: '';
        color: #dddddd;
        display: block;
        width: 0;
        height: 0;
        border-width: 0 0 10px;
        border-style: solid;
        border-right: solid 10px transparent !important;
        border-left: solid 10px transparent !important;
        position: absolute;
        top: -10px;
        left: 50%;
        margin-left: -10px;
    }

    label.menu-btn {
        display: none;
    }

}